<ion-view>
  <ion-nav-title><i class="icon ion-social-buffer "></i> Papel BI 1</ion-nav-title>
  <div class="bar bar-subheader bar-dark">
    <h1 class="title">KPI Ventas (Toneladas)</h1>   
  </div>

  <ion-content class="has-subheader">
    <ion-slides  options="vm.options" slider="vm.data.slider">
      
      <ion-slide-page>
        <div class="list">
          <div class="item item-divider text-center"><p>Semana: {{vm.calendario.semana}}</p></div>
          <div class="row">
            <div class="col text-center">Almacén</div>
            <div class="col text-center">Toneladas</div>
            <div class="col text-center">Part</div>
            <div class="col text-center">Costo</div>
          </div>
          <div class="item row text-right" ng-repeat="v in vm.inventarios">
            <div class="col text-left">
              <p>{{v.almacen | truncate: 8: ' '}} </p>
            </div>
            <div class="col">
              <p>{{v.toneladas | number:0}}</p>
            </div>
            <div class="col">
              <p>{{v.participacion | number:2}} %</p>
            </div>
            <div class="col">
              <p>{{v.costo | number:0 }}</p>
            </div>
          </div>
          
          <div class="item row text-right total" >
            <div class="col text-left">
              <p>Total</p>
            </div>
            <div class="col text-right">
              <p>{{vm.totales.toneladas | number:0}}</p>
            </div>
            <div class="col">
              <p>{{vm.totales.participacion | number:0}} %</p>
            </div>
            <div class="col">
              <p>{{vm.totales.costo | number:0}}</p>
            </div>
            
          </div>
        </div>
      </ion-slide-page>
      
      <ion-slide-page>
        <div class="list">
          <div class="item item-divider text-center"><p>Pedidos por llegar</p></div>
          <div class="row">
            <div class="col text-center">Mes</div>
            <div class="col text-center">Pedidos</div>
            <div class="col text-center">Toneladas</div>
          </div>
          <div class="item row text-right" ng-repeat="v in vm.pendientes">
            <div class="col text-left">
              <p>{{v.mes}} </p>
            </div>
            <div class="col">
              <p>{{v.pedidos | number:0}}</p>
            </div>
            <div class="col">
              <p>{{v.toneladas | number:0}}</p>
            </div>
          </div>
          
          <div class="item row text-right total" >
            <div class="col text-left">
              <p>Total</p>
            </div>
            <div class="col">
              <p>{{vm.pedidosTotales.pedidos | number:0}} </p>
            </div>
            <div class="col">
              <p>{{vm.pedidosTotales.toneladas | number:0}}</p>
            </div>
            
          </div>
        </div>
      </ion-slide-page>

      <ion-slide-page>
        <div class="list">
          
          <div class="item item-divider text-center"><p>Comprobación</p></div>
          
          <div class="item row ">
            <div class="col ">Inventario inicial:</div>
              <div class="col text-right">{{vm.comprobacion.inicial}}</div>
          </div>
          <div class="item row ">
            <div class="col ">Ventas:</div>
            <div class="col text-right">{{vm.comprobacion.ventas}}</div>
          </div>
          <div class="item row ">
            <div class="col">Compras nacionales:</div>
            <div class="col text-right">{{vm.comprobacion.comprasNal}}</div>
          </div>
          <div class="item row ">
            <div class="col">Compras de importación:</div>
            <div class="col text-right">{{vm.comprobacion.comprasImp}}</div>
          </div>
          <div class="item row item-dark">
            <div class="col">Inventario final:</div>
            <div class="col text-right">{{vm.comprobacion.inicial+vm.comprobacion.ventas+vm.comprobacion.comprasNal+vm.comprobacion.comprasImp}}</div>
          </div>
          
          
        </div>
      </ion-slide-page>

    </ion-slides>
    
  </ion-content>
  
  
</ion-view>