<ion-view>
  <ion-nav-title><i class="icon ion-social-buffer "></i> Papel BI 1</ion-nav-title>
  <div class="bar bar-subheader bar-dark">
    <h1 class="title">KPI Alcance</h1>   
  </div>

  <ion-content class="has-subheader">
    <ion-slides  options="vm.options" slider="vm.data.slider">
      
      <ion-slide-page>
        <ion-content>
          <div class="list">
            <div class="item item-divider text-center"><p>Mayor a 6 meses</p></div>
           
            <div class="row  row-linea-header text-center">
              <div class="col col-33">Linea</div>
              <div class="col">Margen</div>
              <div class="col">Tons</div>
              <div class="col">Part</div>
              <div class="col">Prods</div>
              <div class="col">Costo</div>
            </div>
            
            <div class="item row text-right linea-row" ng-repeat="v in vm.alcance">
              <div class="col col-33 text-left">
                <h5>{{v.linea }} </h5>
              </div>
              <div class="col">
                <h5>{{v.margenPorcentajeUt | number:2}}</h5>
              </div>
              <div class="col ">
                <h5>{{v.mayorToneladas | number:2}} </h5>
              </div>
              <div class="col ">
                <h5>{{v.mayorParticipacion*100 | number:2}} %</h5>
              </div>
              <div class="col ">
                <h5>{{v.mayorProductos | number:0}}</h5>
              </div>
              <div class="col ">
                <h5>{{v.mayorCosto | number:0}}</h5>
              </div>
            </div>
            
            <div class="item row text-right total" >
              <div class="col col-33 text-left">
                Totales
              </div>
              <div class="col">
                <h5>{{vm.margen.deLinea | number:2}}</h5>
              </div>
              <div class="col ">
                <h5>{{vm.totales.mayorToneladas | number:2}} </h5>
              </div>
              <div class="col ">
                <h5>{{vm.totales.mayorParticipacion | number:2}} %</h5>
              </div>
              <div class="col ">
                <h5>{{vm.totales.mayorProductos | number:0}}</h5>
              </div>
              <div class="col ">
                <h5>{{vm.totales.mayorCosto | number:0}}</h5>
              </div>
            </div>
          </div>
        </ion-content>
        
      </ion-slide-page>
      
      <ion-slide-page>
        <ion-content>
          <div class="list">
            <div class="item item-divider text-center"><p>Menor a 6 meses</p></div>
            
            <div class="row item row-linea-header text-right">
              <div class="col-25 text-center">Linea</div>
              <div class="col ">Ton</div>
              <div class="col ">Part</div>
              <div class="col ">Prods</div>
              <div class="col ">Costo</div>
              <div class="col col-20  ">Nacional</div>
              <div class="col col-20  ">Importado</div>
            </div>
            <div class="row item row-linea-sub-header">
              <div class="col col-offset-67 text-right"><h6>&lt 1</h6></div>
              <div class="col text-right"><h6>&lt 0.5</h6></div>
              <div class="col text-right"><h6>&lt 1</h6></div>
              <div class="col text-right"><h6>&lt .5</h6></div>
            </div>
            
            <div class="item row text-right " ng-repeat="v in vm.alcance">
              <div class="col-25 text-left">
                <h5>{{v.linea }} </h5>
              </div>
              <div class="col ">
                <h6> {{v.menorToneladas | number:2}} </h6>
              </div>
              <div class="col ">
                <h5>{{v.menorParticipacion*100 | number:2}} %</h5>
              </div>
              <div class="col ">
                <h5>{{v.menorProductos | number:0}}</h5>
              </div>
              <div class="col">
                <h5>{{v.menorCosto | number:0}}</h5>
              </div>
              <div class="col ">
                <h6>{{v.menorDias1Nal | number:0}}</h6>
              </div>
              <div class="col ">
                <h6>{{v.menorDias2Nal | number:0}}</h6>
              </div>
              <div class="col ">
                <h6>{{v.menorDias1Imp | number:0}}</h6>
              </div>
              <div class="col ">
                <h6>{{v.menorDias2Imp | number:0}}</h6>
              </div>
            </div>
            
            <div class="item row text-right total" >
              <div class="col col-25 text-left">
                <p>Total</p>
              </div>
              <div class="col ">
                <h6> {{vm.totales.menorToneladas | number:2}} </h6>
              </div>
              <div class="col ">
                <h5>{{100}} %</h5>
              </div>
              <div class="col ">
                <h5>{{vm.totales.menorProductos | number:0}}</h5>
              </div>
              <div class="col">
                <h5>{{vm.totales.menorCosto | number:0}}</h5>
              </div>
              <div class="col ">
                <h6>{{vm.totales.menorDias1Nal | number:0}}</h6>
              </div>
              <div class="col ">
                <h6>{{vm.totales.menorDias2Nal | number:0}}</h6>
              </div>
              <div class="col ">
                <h6>{{vm.totales.menorDias1Imp | number:0}}</h6>
              </div>
              <div class="col ">
                <h6>{{vm.totales.menorDias2Imp | number:0}}</h6>
              </div>
              
            </div>
          </div>
        </ion-content>
        
      </ion-slide-page>

      <ion-slide-page>
        <ion-content>
          <div class="list">
            <div class="item item-divider text-center"><p>Medidas especiales</p></div>
           
            <div class="row  row-linea-header text-center">
              <div class="col col-33">Linea</div>
              <div class="col">Margen</div>
              <div class="col">Tons</div>
              <div class="col">Part</div>
              <div class="col">Prods</div>
              <div class="col">Costo</div>
            </div>
            
            <div class="item row text-right linea-row" ng-repeat="v in vm.alcanceEspecial">
              <div class="col col-33 text-left">
                <h5>{{v.linea }} </h5>
              </div>
              <div class="col">
                <h5>{{v.margenPorcentajeUt | number:2}}</h5>
              </div>
              <div class="col ">
                <h5>{{v.mayorToneladas | number:2}} </h5>
              </div>
              <div class="col ">
                <h5>{{v.mayorParticipacion*100 | number:2}} %</h5>
              </div>
              <div class="col ">
                <h5>{{v.mayorProductos | number:0}}</h5>
              </div>
              <div class="col ">
                <h5>{{v.mayorCosto | number:0}}</h5>
              </div>
            </div>
            
            <div class="item row text-right total" >
              <div class="col col-33 text-left">
                Totales
              </div>
              <div class="col">
                <h5>{{vm.margen.especial | number:2}}</h5>
              </div>
              <div class="col ">
                <h5>{{vm.totalEspecial.mayorToneladas | number:2}} </h5>
              </div>
              <div class="col ">
                <h5>{{vm.totalEspecial.mayorParticipacion | number:2}} %</h5>
              </div>
              <div class="col ">
                <h5>{{vm.totalEspecial.mayorProductos | number:0}}</h5>
              </div>
              <div class="col ">
                <h5>{{vm.totalEspecial.mayorCosto | number:0}}</h5>
              </div>
            </div>
          </div>
        </ion-content>
        
      </ion-slide-page>
      
    </ion-slides>
  </ion-content>

  <!-- <ion-slides  options="vm.options" slider="vm.data.slider">
    
    <ion-slide-page>
      <ion-content class="has-subheader">
        <div class="list">
          <div class="item item-divider text-center"><p>Mayor a 6 meses</p></div>
         
          <div class="row  row-linea-header text-center">
            <div class="col col-33">Linea</div>
            <div class="col">Margen</div>
            <div class="col">Tons</div>
            <div class="col">Part</div>
            <div class="col">Prods</div>
            <div class="col">Costo</div>
          </div>
          
          <div class="item row text-right linea-row" ng-repeat="v in vm.alcance">
            <div class="col col-33 text-left">
              <h5>{{v.linea }} </h5>
            </div>
            <div class="col">
              <h5>{{v.margenPorcentajeUt | number:2}}</h5>
            </div>
            <div class="col ">
              <h5>{{v.mayorToneladas | number:2}} </h5>
            </div>
            <div class="col ">
              <h5>{{v.mayorParticipacion*100 | number:2}} %</h5>
            </div>
            <div class="col ">
              <h5>{{v.mayorProductos | number:0}}</h5>
            </div>
            <div class="col ">
              <h5>{{v.mayorCosto | number:0}}</h5>
            </div>
          </div>
          
          <div class="item row text-right total" >
            <div class="col col-33 text-left">
              Totales
            </div>
            <div class="col">
              <h5>{{vm.margen.deLinea | number:2}}</h5>
            </div>
            <div class="col ">
              <h5>{{vm.totales.mayorToneladas | number:2}} </h5>
            </div>
            <div class="col ">
              <h5>{{vm.totales.mayorParticipacion | number:2}} %</h5>
            </div>
            <div class="col ">
              <h5>{{vm.totales.mayorProductos | number:0}}</h5>
            </div>
            <div class="col ">
              <h5>{{vm.totales.mayorCosto | number:0}}</h5>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide-page>
    
    <ion-slide-page>
      <ion-content class="has-subheader">
        <div class="list">
          <div class="item item-divider text-center"><p>Menor a 6 meses</p></div>
          
          <div class="row item row-linea-header text-right">
            <div class="col-25 text-center">Linea</div>
            <div class="col ">Ton</div>
            <div class="col ">Part</div>
            <div class="col ">Prods</div>
            <div class="col ">Costo</div>
            <div class="col col-20  ">Nacional</div>
            <div class="col col-20  ">Importado</div>
          </div>
          <div class="row item row-linea-sub-header">
            <div class="col col-offset-67 text-right"><h6>&lt 1</h6></div>
            <div class="col text-right"><h6>&lt 0.5</h6></div>
            <div class="col text-right"><h6>&lt 1</h6></div>
            <div class="col text-right"><h6>&lt .5</h6></div>
          </div>
          
          <div class="item row text-right " ng-repeat="v in vm.alcance">
            <div class="col-25 text-left">
              <h5>{{v.linea }} </h5>
            </div>
            <div class="col ">
              <h6> {{v.menorToneladas | number:2}} </h6>
            </div>
            <div class="col ">
              <h5>{{v.menorParticipacion*100 | number:2}} %</h5>
            </div>
            <div class="col ">
              <h5>{{v.menorProductos | number:0}}</h5>
            </div>
            <div class="col">
              <h5>{{v.menorCosto | number:0}}</h5>
            </div>
            <div class="col ">
              <h6>{{v.menorDias1Nal | number:0}}</h6>
            </div>
            <div class="col ">
              <h6>{{v.menorDias2Nal | number:0}}</h6>
            </div>
            <div class="col ">
              <h6>{{v.menorDias1Imp | number:0}}</h6>
            </div>
            <div class="col ">
              <h6>{{v.menorDias2Imp | number:0}}</h6>
            </div>
          </div>
          
          <div class="item row text-right total" >
            <div class="col col-25 text-left">
              <p>Total</p>
            </div>
            <div class="col ">
              <h6> {{vm.totales.menorToneladas | number:2}} </h6>
            </div>
            <div class="col ">
              <h5>{{100}} %</h5>
            </div>
            <div class="col ">
              <h5>{{vm.totales.menorProductos | number:0}}</h5>
            </div>
            <div class="col">
              <h5>{{vm.totales.menorCosto | number:0}}</h5>
            </div>
            <div class="col ">
              <h6>{{vm.totales.menorDias1Nal | number:0}}</h6>
            </div>
            <div class="col ">
              <h6>{{vm.totales.menorDias2Nal | number:0}}</h6>
            </div>
            <div class="col ">
              <h6>{{vm.totales.menorDias1Imp | number:0}}</h6>
            </div>
            <div class="col ">
              <h6>{{vm.totales.menorDias2Imp | number:0}}</h6>
            </div>
            
          </div>
        </div>
      </ion-content>
    </ion-slide-page>

    <ion-slide-page>
      <ion-content class="has-subheader">
        <div class="list">
          <div class="item item-divider text-center"><p>Medidas especiales</p></div>
         
          <div class="row  row-linea-header text-center">
            <div class="col col-33">Linea</div>
            <div class="col">Margen</div>
            <div class="col">Tons</div>
            <div class="col">Part</div>
            <div class="col">Prods</div>
            <div class="col">Costo</div>
          </div>
          
          <div class="item row text-right linea-row" ng-repeat="v in vm.alcanceEspecial">
            <div class="col col-33 text-left">
              <h5>{{v.linea }} </h5>
            </div>
            <div class="col">
              <h5>{{v.margenPorcentajeUt | number:2}}</h5>
            </div>
            <div class="col ">
              <h5>{{v.mayorToneladas | number:2}} </h5>
            </div>
            <div class="col ">
              <h5>{{v.mayorParticipacion*100 | number:2}} %</h5>
            </div>
            <div class="col ">
              <h5>{{v.mayorProductos | number:0}}</h5>
            </div>
            <div class="col ">
              <h5>{{v.mayorCosto | number:0}}</h5>
            </div>
          </div>
          
          <div class="item row text-right total" >
            <div class="col col-33 text-left">
              Totales
            </div>
            <div class="col">
              <h5>{{vm.margen.especial | number:2}}</h5>
            </div>
            <div class="col ">
              <h5>{{vm.totalEspecial.mayorToneladas | number:2}} </h5>
            </div>
            <div class="col ">
              <h5>{{vm.totalEspecial.mayorParticipacion | number:2}} %</h5>
            </div>
            <div class="col ">
              <h5>{{vm.totalEspecial.mayorProductos | number:0}}</h5>
            </div>
            <div class="col ">
              <h5>{{vm.totalEspecial.mayorCosto | number:0}}</h5>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide-page>
    
  </ion-slides> -->

  
  
  
</ion-view>