/* Empty. Add your own CSS if you like */
.scroll {
  height: 100%;
}

.total-row {
	color: blue;
}

// .total {
//   font-size: 14px; 
//   color: rgb(0, 0, 0);

// }
.total {
  font-weight: bold;
  font-style: italic;
}

.pdf-controls { width: 100%; display: block; background: #eee; padding: 1em;}
.fixed { position: fixed; top: 0; left: calc(50% - 480px); z-index: 100; width: 100%; padding: 1em; background: rgba(238, 238, 238,.9); width: 960px; }


